<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMotionUsageDescription</key>
	<string>걸음 수 데이터 측정을 위해 데이터 접근 권한이 필요합니다.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>&apos;Healthy Secret&apos; (이)가 사용자의 건강 데이터에 접근하여 업데이트하려고 합니다.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>&apos;Healthy Secret&apos; (이)가 사용자의 건강 데이터에 접근하여 업데이트하려고 합니다.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Please allow access to select a photo</string>
	<key>NSCameraUsageDescription</key>
	<string>Please allow to use Camera</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao6a1a683e79f8bede51dece31155208ee</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao6a1a683e79f8bede51dece31155208ee:oauth</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
